page-house-details-modal {
  .item-md .item-inner {
    margin-left: 8px !important;
  }

  .house {
    &-name {
      padding-bottom: 24px;
      background: none;

      .label {
        font-size: 1.5rem;
      }

      ion-input {
        font-size: 1.5em;
        color: #ffffff;

        ::placeholder {
          color: lighten(color($colors, primary), 30) !important;
        }
      }
    }

    &-add {
      margin: 0 8px;
    }
  }
}
