page-login {
  .content {
    background-color: color($colors, background);
  }

  .logo {
    display: block;
    margin: 20% auto;

    &-image {
      display: block;
      height: auto;
      width: 35%;
      margin: 20px auto;
    }

    &-text {
      color: color($colors, primary);
      text-align: center;
      margin: 20px;
      // padding: 0 40px;
      font-weight: bold;
    }
  }

  .login-buttons {
    .scan-prompt {
      font-size: 12px;
      color: grey;
      text-align: center;
    }
  }

  .footer {
    display: flex;
    position: absolute;
    bottom: 20px;
    height: 3.6rem;
    width: 90%;

    &-user {
      height: 3.6rem;
      display: inline-flex;

      &-image {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        height: 100%;
        width: auto;
        border: 0.5px solid color($colors, primary);
      }

      &-text {
        margin: auto 12px;

        span {
          display: block;

          &.user-title {
            font-size: 12px;
            color: #585858;
          }
        }
      }
    }

    .button-signout {
      margin-left: auto;
    }
  }
}
