page-task-modal {
  .item-md .item-inner {
    margin-left: 8px !important;
  }

  .task {
    &-title {
      padding-bottom: 20px;
    }

    &-header {
      background: none;

      .label {
        font-size: 1.5rem;
      }

      ion-input {
        font-size: 1.5em;
        color: #ffffff;

        ::placeholder {
          color: #ffffff80 !important;
        }
      }

      ion-select {
        font-size: 1.2rem;
        color: #ffffff;
        padding-top: 4px !important;
      }

      .select-icon {
        display: none;
      }
    }

    &-user {
      .label {
        font-size: 1.5rem;
      }

      ion-select {
        font-size: 1.2rem;
        color: grey;
        padding-top: 4px !important;
      }

      .select-icon {
        display: none;
      }
    }

    &-add {
      margin: 0 8px;
    }
  }
}
