page-house-details {
  .scroll-content {
    background-color: color($colors, background);
    padding-bottom: 56px;
  }

  .qrcode-card {
    width: 40%;
    margin: auto auto 16px;

    .qrcode {
      img {
        display: block;
        margin: auto;
      }
    }
  }

  .details {
    margin-bottom: 16px;
    &-title {
      text-align: center;
    }

    &-text {}
  }

  .users {
    width: 100%;
    .user {
      display: inline-block;
      padding: 0 12px;
      text-align: center;

      &.smaller {
        padding: 0 20px;
      }

      &-image {
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-bottom: 8px;
        max-height: 100%;
        object-fit: contain;

        &.active {
          border: 3px double color($colors, primary);
        }
      }

      &-name {
        display: block;
        color: color($colors, dark);
      }
    }
  }
}
