<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{houseName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="qrcode-card">
    <ngx-qrcode [qrc-value]="houseId"></ngx-qrcode>
  </ion-card>
  <ion-card class="details">
    <ion-card-header class="details-title">House Info</ion-card-header>
    <ion-card-content>
      <p text-wrap class="details-text" *ngFor="let details of (houseDetailsRef | async)">
        {{details.text}}
      </p>
    </ion-card-content>
  </ion-card>
  <div class="users">
    <ion-grid>
      <ion-row justify-content-around >
        <ion-col align-self-center *ngFor="let user of (houseUsersRef | async)" [attr.col-3]="userCol3 ? '' : null" [attr.col-4]="!userCol3 ? '' : null">
          <div class="user" [class.smaller]="!userCol3">
            <img class="user-image" [class.active]="user.id == userId" src={{user.image}}>
            <span class="user-name">{{getFirstName(user.name)}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="openDetailsModal()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
