page-home {
  .scroll-content {
    padding-bottom: 56px;
  }

  .list-header {
    min-height: unset;

    .label {
      margin: 16px 0 0;
    }

    &-text {
      color: color($colors, secondary);
    }

    &-filter {
      float: right;
    }
  }

  .no-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25% 0;

    &-icon {
      font-size: 12em;
      margin: 12px;
    }

    &-text div{
      color: grey;
    }
  }
}
