page-home {
  .todo-list {
    &-item {
      &-text {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        line-height: 2;
        position: relative;
      }

      &-check {
        float: right;
      }

      &.done {
        color: grey;

        button {
          color: lightgrey;
        }
      }
    }
  }
}
