<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      {{houseName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addUser()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item class="list-header">
    <span class="list-header-text">
      House Tasks
    </span>
    <!-- <button ion-button outline class="list-header-filter">
      <ion-icon item-start name="search"></ion-icon>
      Filter
    </button> -->
  </ion-item>
  <ion-list no-lines class="task-list">
    <task-item *ngFor="let todoItem of (todoItems | async)" [item]="todoItem"></task-item>
  </ion-list>
  <button ion-button outline block padding class="button-primary" color="secondary" *ngIf="doneItemsBool" (click)="toggleShowDone()">{{toggleButtonText}}</button>
  <ion-list no-lines class="task-list done" *ngIf="showDoneItems">
    <task-item *ngFor="let doneItem of (doneItems | async)" [item]="doneItem"></task-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="openAddItem()">
      <ion-icon name="add"></ion-icon>
    </button>
    <!-- <ion-fab-list side="top">
      <button ion-fab><ion-icon name="cash"></ion-icon></button>
      <button ion-fab><ion-icon name="basket"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>

</ion-content>
