task-item {
  .task-item {

    &-details {
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      position: relative;
      width: 90%;
      white-space: normal;

      &-text {}

      &-user {
        font-size: 12px;
        color: grey;
      }

      &.done {
        color: grey;
      }
    }

    &-check {
      float: right;
    }
  }
}
