task-item {
  .task-item {
    .label {
      display: flex;
      justify-content: space-between;
    }

    &-details {
      display: block;
      vertical-align: -webkit-baseline-middle;
      position: relative;
      width: 90%;
      white-space: normal;

      &-text {
        display: block;
        margin-bottom: 4px;
      }

      &-tag {
        display: inline-block;
        font-size: 12px;
        color: color($colors, secondary);
      }

      &-category {
        display: flex;
        font-size: 12px;
        ion-icon {
          margin-right: 4px;
        }
        span {
          color: grey;
        }
      }
    }

    &.done {
      border-left-color: color($colors, light) !important;

      .task-item-details {
        span {
          color: grey;
        }
      }
    }

    &-rhs {
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      position: relative;
    }

    &-check {
      display: block;
      float: right;
    }

    &.important {
      border-left-width: 4px !important;
      border-left: 4px solid color($colors, secondary);
      padding-left: 12px;
    }
  }
}
