// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$text-input-highlight-color-valid: #E91E63;
$text-input-highlight-color-invalid: #E91E63;
$text-input-placeholder-color: rgba( #000000, .4 );


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #5E35B1,
  secondary:  #E91E63,
  tertiary:   #FDD835,
  correct:    #00AA8d,
  amber:      #FDD835,
  danger:     #D72638,
  light:      #D3D3D3,
  dark:       #333,
  facebook:   #3B5998,
  background: #FFF9FB,
  // primary:    #00AA8d,
  // background: #F7FFFB,
  general:    #DABFFF,
  finance:    #A1E8CC,
  shopping:   #A0DDE6,
  chores:     #F0A6CA,
  social:     #FFED99,
);

// colour test pallet
// #A0DDE6 #F9DBBD #DA627D
// #6BAA75 #EFC3E6 #F0A6CA
// #9C89B8 #F44E3F #A9E5BB
// #657ED4 #B8BEDD #FADF63
// #6FEDB7 #4EA699 #A1E8CC
// #FAC9B8 #A7ABDD #EDFF7A
// #B7F0AD #6D9DC5 #AFBBF2
// #3E92CC #EEEBD0 #1B998B


// $font-family: 'Cabin';
// $font-family: 'Oxygen';
$font-family: 'Rubik';
// $font-family: 'Signika';

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$text-input-ios-show-focus-highlight: true;
$text-input-ios-highlight-color: #E91E63;
$font-family-ios-base: $font-family;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$text-input-md-highlight-color: #E91E63;
$label-md-text-color-focused: #E91E63;
$font-family-md-base: $font-family;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
